body{
  background-image: url("gris.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }



.row3 {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}
.img-responsive{
width: 100%;
height: 300px;
}
